body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Special Elite', monospace;
}

#bookingContainer {
    display: flex;
    justify-content: center;
}

#columnContainer {
    display: flex;
    justify-content: center;
}

.column__divider {
    width: 100px;
}